<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Welcome!</title>
    <style>
        body {
            padding: 0;
            margin: 0;
        }
    </style>
</head>
<body>
    <header>
    <div id="menu">
        <div id="main-menu">
        <nav>foo</nav>
        <nav>bar</nav>
        <nav>baz</nav>
    </div>
        </div>
    </header>
    <section><div class="container"></div></section>
    <footer><p>All rights reserved 2023, Hell yeah!</p></footer>
    <script>
        console.log('Home | Welcome!');
    </script>
</body>
</html>