<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    {@ stylesheets
        <style>
            body * {
                padding: 0;
                margin: 0;
                position: relative;
            }
        </style>     
    @}
</head>

<body>
    {@ header
        <header>
            {@ menu items = menuItems @}
        </header>
    @}
    {@ body
    <section>
        {@ panel
            {@ panelHead 
                <div>{@ test hello world @}</div> 
            @}
            {@ panelBody 
                <div></div> 
            @}
            {@ panelFooter 
                <div></div> 
            @}
        @}
    </section>
    @}
    {@ footer
        <footer>
            <div class="row">
                <div class="col-4"></div>
                <div class="col-4"></div>
                <div class="col-4"></div>
            </div>
        </footer>
    @}
    {@ javascripts
        <script>
            console.log('Hello world');
        </script>
    @}
</body>
</html>
